@import url('https://fonts.googleapis.com/css?family=Roboto|Walter+Turncoat&display=swap');

$family-primary: 'Walter Turncoat', cursive;
$family-secondary: 'Roboto', sans-serif;
$title-color: #FFFFFF;
$navbar-background-color: rgba(47,79,79, 1);
$navbar-item-color: #FFFFFF;
$box-color: #FFFFFF;
$text: #FFFFFF;
$table-background-color: rgba(47,79,79, 0.3);
$table-color: #FFFFFF;
$box-background-color: rgba(47,79,79, 0.3);
$table-row-hover-background-color:yellow;

.section {
background-color: #778899;
background-image: url('https://i.imgur.com/ikjUrBd.jpg?1');
background-position: 50% 50%;
background-repeat: no-repeat;
background-attachment: fixed;
min-width: 100vh;
min-height: 100vh;
}

.is-seed-period {
  background-color: green;
  width: 60px;
  height: 20px;
  margin: 5px;
}

.plant-table td div {
  width: 60px;
  height: 20px;

  &.is-harvest-period {
    background-color: red;
    margin: 5px;
  }

  &.is-seed-period {
    padding: 10px;
    justify-content:center;
  }
}

div.is-harvest-period-period {
  padding: 600px;
  justify-content:center;
}


.commentUser {
  color: #FFFFFF;
}
.poptext {
  color: black;
}

label {
  color: black;
}

.content.fightbulma {
  color: #FFFFFF;
}

.ShowImage {
  border: 1px solid #FFFFFF;
}

.deleteContainer {
  text-align: right;
}

.card {
  height: 100%;
  box-shadow: 1px 1px 1px 1px #FFFFFF;
  border: 1px solid #2F4F4F;
}

.notes {
  color: #2F4F4F;
}

.checkboxRadio {
  margin-right: 8px;
  color: #FFFFFF;
}

.hero-body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
  .title, .subtitle {
    color: white;
    text-shadow: 0 2px 3px #000;
    text-align: center;
  }
}
.hero-sub {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  .title, .subtitle {
    color: white;
    text-shadow: 0 2px 3px #000;
    text-align: center;
  }
}
.image-one {
  background-image: url(https://images.unsplash.com/photo-1510844355160-2fb07bf9af75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}
.image-two {
  background-image: url(https://images.unsplash.com/photo-1535090467336-9501f96eef89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1376&q=80);
}
.image-three {
  background-image: url(https://images.unsplash.com/photo-1545922016-87c93aaca2ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80);
}
.image-four {
  background-image: url(https://images.unsplash.com/photo-1519897831810-a9a01aceccd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
}

.herotext {
  margin: auto auto;
  align-content: center;
  text-align: center;
}
.secondTitle {
  margin: 200px auto;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 300px;
  padding: auto 0;
  margin: 100px auto;
}


.plant-section {
  padding: 20px;
  margin-right: 0px;
  color: #FFFFFF;
}

.plant-container {
  padding: 20px;
  margin-right: 0px;
  margin-left: 0px;
  color: #FFFFFF;
}

table.table.plant-table{
  background-color: white;
  width: 0px;
  margin: -10px;
  color: black;
}

table thead.plant-head{
  background-color:#2F4F4F;
  color: white;
}

.table thead tr th{
  color: white;
}

.tableoption {
  width: 40px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', serif;
	-webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

.hero-body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.hero-body h1 {
	position: relative;
	display: block;
	margin: 0;
	font-size: 4rem;
	line-height: 1;
	transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 1px;
		left: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: -1;
	}

	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}

	&::after {
		bottom: 0.4rem;
		animation: draw 500ms linear 1s forwards;
	}

}

.title-container {
	font-size: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
}

.scroll-x {
  overflow-x: scroll;
}

@keyframes up {

	100% {
		transform: translateY(0);
	}
}

@keyframes draw {

	100% {
		width: 100%;
	}
}

@import "~bulma"
