@import url('https://fonts.googleapis.com/css?family=Roboto|Walter+Turncoat&display=swap');

$family-primary: 'Walter Turncoat', cursive;
$family-secondary: 'Roboto', sans-serif;
$title-color: #FFFFFF;
$navbar-background-color: #2F4F4F;
$navbar-item-color: #FFFFFF;
$text: #FFFFFF;
$table-background-color: #2F4F4F;
$table-color: #FFFFFF;
$dark: #FFFFFF;
$box-background-color: #2F4F4F;

.background-test {
    background-repeat: repeat;
    background-image: url('https://i.imgur.com/ikjUrBd.jpg?1');
    min-height: auto;
}

.commentUser {
  color: #FFFFFF;
}
.poptext {
  color: black;
}

.ShowImage {
  box-shadow: 1px 1px 1px 1px #FFFFFF;
}

.card {
  height: 100%;
  box-shadow: 1px 1px 1px 1px #FFFFFF;
  border: 1px solid #2F4F4F;
}

.notes {
  color: #2F4F4F;
}

.checkboxRadio {
  margin-right: 8px;
}

.hero-body {
  background-image: url(https://images.unsplash.com/photo-1510844355160-2fb07bf9af75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  background-size: cover;
  .title, .subtitle {
    color: white;
    text-shadow: 0 2px 3px #000;
    text-align: center;
  }
}

@import "~bulma"
