@import url('https://fonts.googleapis.com/css?family=Roboto|Walter+Turncoat&display=swap');

$family-primary: 'Walter Turncoat', cursive;
$family-secondary: 'Roboto', sans-serif;
$title-color: #FFFFFF;
$navbar-background-color: rgba(47,79,79, 1);
$navbar-item-color: #FFFFFF;
$box-color: #FFFFFF;
$text: #FFFFFF;
$table-background-color: rgba(47,79,79, 0.8);
$table-color: #FFFFFF;
$box-background-color: rgba(47,79,79, 0.8);
$table-row-hover-background-color:yellow;
$label-color: #FFFFFF;
$gap: 80px;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', serif;
	-webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

// Controls background images in each section
.section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Media query to handle background images for intersection
@media only screen and (max-width: 600px) {
  .section {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    background-attachment: scroll;
  }

  .section:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      max-width: 100%;
      // height: 100%;
      z-index: -10;
      background-repeat: repeat;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: scroll;
  }
}


.index-background {
  background-image: url('https://images.unsplash.com/photo-1447175008436-054170c2e979?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2061&q=80');
}

.about-background {
  background-image: url('https://images.unsplash.com/photo-1518977822534-7049a61ee0c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
}

.plants-background {
  background-image: url('https://images.unsplash.com/photo-1557207562-a3157143784e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}

.add-background {
  background-image: url('https://images.unsplash.com/photo-1558717738-12f5dde036a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}
.register-background {
  background-image: url('https://images.unsplash.com/photo-1518977676601-b53f82aba655?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}
.login-background {
  background-image: url('https://images.unsplash.com/photo-1505692794401-b371fa865622?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}
.show-background {
  background-image: url('https://images.unsplash.com/photo-1518977956812-cd3dbadaaf31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}
.edit-background {
  background-image: url('https://images.unsplash.com/photo-1549301014-95d119f5c960?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}

.is-seed-period {
  background-color: green;
  border-radius: 15px;
  width: 60px;
  height: 20px;
  margin: 5px;
}
.clearBackground{
  background-color: rgba(255, 255, 255, 0.4)
}

.plant-table td div {
  width: 60px;
  height: 20px;

  &.is-harvest-period {
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
  }

  &.is-seed-period {
    padding: 10px;
    justify-content:center;
  }
}

div.is-harvest-period-period {
  padding: 600px;
  justify-content:center;
  border-radius: 15px;
}
.commentUser {
  color: #FFFFFF;
}
.poptext {
  color: black;
}
label {
  color: black;
}

.content.fightbulma {
  color: #FFFFFF;
}

.ShowImage {
  border: 1px solid #FFFFFF;
}

.deleteContainer {
  text-align: right;
}

.card {
  height: 100%;
  box-shadow: 1px 1px 1px 1px #FFFFFF;
  border: 1px solid #2F4F4F;
}

.notes {
  color: #2F4F4F;
}

.checkboxRadio {
  margin-right: 8px;
  color: #FFFFFF;
}

.hero-body {
  .title, .subtitle {
    color: white;
    text-shadow: 0 2px 3px #000;
    text-align: center;
  }
}

.hero-sub {
  .title, .subtitle {
    color: white;
    text-shadow: 0 2px 3px #000;
    text-align: center;
  }
}


.hero-body, .hero-sub {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Media query to handle background images for intersection
@media only screen and (max-width: 600px) {
  .hero-body, .hero-sub {
    // width: 100%;
    width: 100vw;
    background-attachment: local;
  }
}

.image-one {
  background-image: url(https://images.unsplash.com/photo-1510844355160-2fb07bf9af75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}
.image-two {
  background-image: url(https://images.unsplash.com/photo-1535090467336-9501f96eef89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1376&q=80);
}
.image-three {
  background-image: url(https://images.unsplash.com/photo-1545922016-87c93aaca2ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80);
}
.image-four {
  background-image: url(https://images.unsplash.com/photo-1519897831810-a9a01aceccd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
}

.herotext {
  margin: auto auto;
  align-content: center;
  text-align: center;
}
.secondTitle {
  margin: 200px auto;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 300px;
  padding: auto 0;
  margin: 100px auto;
}



.plant-container {
  padding: 20px;
  margin-right: 0px;
  margin-left: 0px;
  color: #FFFFFF;
}

.subtitle.key {
  color: $table-color;
}

.orange{
  background-color: orange;
  color: white;
  text-align: center;
  border-radius: 15px;
  margin: 10px;
}

.green{
  background-color: green;
  color: white;
  text-align: center;
  border-radius: 15px;
  margin: 10px;
}

span.seed{
  width: 2000px;
  border: 10px solid green;
}

.tableBorder {
  border: 1px solid black;
  border-radius: 15px;
}
table.table.plant-table{
  background-color: white;
  width: 0px;
  margin: -10px;
  color: black;
  border: 5px solid black;
  border-radius: 15px;
}

table thead.plant-head{
  background-color:#2F4F4F;
  color: white;
}

.table thead tr th{
  color: white;
}

.tableoption {
  width: 200px;
  border-radius: 5px;
}

.afterlogin{
  height: 150px;
}


.hero-body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.hero-body h1 {
	position: relative;
	display: block;
	margin: 0;
	font-size: 4rem;
	// line-height: 1;
	transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 1px;
		left: 0;
		// background-color: rgba(0,0,0,0.2);
		z-index: -1;
	}

	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}

	&::after {
		bottom: 0.4rem;
		animation: draw 500ms linear 1s forwards;
	}

}

form {
  color: white;
}

.title-container {
	font-size: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
}

.scroll-x {
  overflow-x: scroll;
}


p.copyright{
  color: white;
  text-align: center;
}

p.plantprop{
  text-align: center;
}

#menu-footer-menu{
  text-align: center;
  color: white;
}

li#menu-item{
  display: inline;
  margin:0 10px 10px;
}

li.tabs{
  display: inline;
  margin: 100px;
}

h2.key{
  text-align: center;
}

div.footer-bottom{
  background-color: #2F4F4F;
}

#footer-social{
  text-align: center;
}

.fa-3x{
  margin:5px;
}

svg.path{
  margin-top: 5px;
}

img.plantimage {
    height: auto;
    max-width: 200px;
    padding:0;
    border-radius: 5px;
}

div.box.tableKey{
  border: 1px solid black;
}



canvas.mapboxgl-canvas {
  border: 5px solid white;
  border-radius: 5px;
}

table.table {
  border-radius: 5px;
}

@keyframes up {

	100% {
		transform: translateY(0);
	}
}

@keyframes draw {

	100% {
		width: 100%;
	}
}

@import "~bulma"
